{% extends "base.html" %} 

{% block nomePagina %} 
    Histórico do aluno
{% endblock %}                            

{% block body %}
<p>
    Nessa página deve mostra algo como uma lista das notas tiradas pelo aluno em cada atividade

    Mostrar uma lista das notas desse aluno em uma determinada turma
    Para isso a rota de acesso a essa página deve levar em conta o id do aluno e da turma
    Mostrar uma lista de todas as atividades da turma:
        if aluno tiver resposta mostrar a nota, add um btn de alterar nota e um btn que leva a resposta
        else se aluno não tiver resposta apenas exibir algo como nenhuma resposta enviada
</p>
{% endblock %}