{% extends "base_login.html" %}
{% block body %}
<form class="form-signin" role="form" action="{% url 'login' %}" method="post">
  {% csrf_token %}      
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Unione</h2></div>
    <div class="panel-body">

    <input type="text" id="id_username" name="username" class="form-control" placeholder="Nome" required autofocus>

    <input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required>

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Entrar">Entrar</button>
    <div style="display:flex; justify-content:flex-end; padding-top: 2%;">
      <a href="{% url 'registrar' %}">Cadastre-se</a>
    </div>
    <input type="hidden" name="next" value="{{ next }}" /> {% if form.errors %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Por favor, verifique o Usuário e/ou Senha informados
    </div>
    {% endif %}
  </div>
  </div>
</form>
{% endblock %}