{% extends "base.html" %} {% block usuarioLogado %}
<p>{{usuarioLogado.nome}}</p>
{% endblock %} {% block nomePagina %} Busca turmas {% endblock %} {% block body %}
<div class="card">
    <div class="header">
        <h4 class="title">Turmas encontradas</h4>
        <hr>
    </div>
    <div class="content">
        <ul class="list-group list-group-flush">
            {% for turma in turmas %}
            <li class="list-group-item">
                <p style="display: flex; justify-content: space-between; padding-bottom: 0%; margin-bottom: 0%;">
                    {{turma.titulo}}
                    {% if turma.administrador.id == usuarioLogado.id %}
                    <button class="btn btn-primary btn-sm" disabled>Você é o responsável por essa turma</button>
                    {% else %}
                    <button class="btn btn-primary btn-sm">Entrar na turma</button>
                    {% endif %}
                </p>
                <p>Descrição: {{turma.descricao}}</p>
                Professor: {{turma.administrador.nome}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}